@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import './variables.scss';

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $primary-color;
    margin: 0;
}
a, a:visited, a:hover {
    color: $primary-color;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1 {
    font-size: 2em;
    font-weight: 500;
}

#root {
    height: 100%;
    padding-top: 40px;
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    justify-items: center;
    @media screen and (max-width: $mobile-breakpoint) {
        padding-top: 20px;
    }
}

header, main {
    padding: 0 $page-horizontal-padding;
    max-width: $page-max-width;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0 $page-horizontal-padding-mobile;
    }
}

main {
    padding-bottom: 40px;
    padding-top: 25px;
    @media screen and (max-width: $mobile-breakpoint) {
        padding-top: 0px;
    }
}