$primary-color: #FF6060;
$secondary-color: #F7F7F7;

$page-horizontal-padding: 100px;
$page-horizontal-padding-mobile: 20px;
$page-max-width: 1600px;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;