@import '../variables.scss';

.collapse {
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 20px;
        background-color: $primary-color;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        height: 52px;
        box-sizing: border-box;
        @media screen and (max-width: $mobile-breakpoint) {
            height: 30px;
            font-size: 13px;
            border-radius: 5px;
        }
    }
    &__title {
        color: white;
        font-weight: 500;
    }
    &__icon {
        display: block;
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
        img {
            height: 26px;
            width: 16px;
            object-fit: contain;
            transform: rotate(90deg);
            @media screen and (max-width: $mobile-breakpoint) {
                height: 16px;
                width: 9px;
            }
        }
        
    }
    &__body {
        background-color: $secondary-color;
        margin: -10px 0 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
        height: 0;
        transition: height 0.3s;
        & > * {
            display: block;
            padding: 40px 20px 27px;
            @media screen and (max-width: $mobile-breakpoint) {
                font-size: 12px;
                padding: 30px 10px 20px;
            }
        }
        
    }
    &.open {
        .collapse__{
            &icon{
                transform: rotate(0);
            }
        }
    }
}