@import '../variables.scss';

.accomodation{
    &__slideshow {
        @media screen and (max-width: $mobile-breakpoint) {
            margin-top: 30px;
        }
    }
    &__host {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 24px;
        @media screen and (max-width: $mobile-breakpoint) {
            margin-bottom: 0px;
        }
        img{
            border-radius: 50%;
            width: 64px;
            height: 64px;
            object-fit: cover;
            margin-left: 10px;
            @media screen and (max-width: $mobile-breakpoint) {
                width: 32px;
                height: 32px;
            }
        }
        p {
            text-align: right;
            margin: 0;
            @media screen and (max-width: $mobile-breakpoint) {
                font-size: 12px;
            }
        }
    }
    &__title {
        margin: 6px 0 0;
        line-height: 51px;
        vertical-align: middle;
        @media screen and (max-width: $tablet-breakpoint) {
            line-height: unset;
            font-size: 24px;
            margin: 0 0 10px;
        }
        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 18px;
            margin: 0 0 5px;
        }
        
    }
    &__location {
       margin: 0;
       display: block;
       font-weight: 500;
       @media screen and (max-width: $tablet-breakpoint) {
        font-size: 16px;
       }
       @media screen and (max-width: $mobile-breakpoint) {
        font-size: 14px;
       }

    }
    &__tags-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-top: 2.5px;
        @media screen and (max-width: $mobile-breakpoint) {
            margin-top: 0;
        }
    }
    &__tag {
        min-width: 115px;
        padding: 0 30px;
        box-sizing: border-box;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
        background-color: $primary-color;
        border-radius: 10px;
        margin: 10px 10px 0 0;
        @media screen and (max-width: $tablet-breakpoint) {
            font-size: 12px;
            height: 24px;
            padding: 0 20px;
            min-width: 84px;
        }
        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 10px;
            height: 18px;
            border-radius: 5px;
        }
    }
    &__flex-container{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $mobile-breakpoint) {
            margin-top: 15px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: column;
            margin-top: 0;
            & > div:nth-child(2) {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &__collapse-container{
        display: grid;
        column-gap: 6%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-top: 24px;
        @media screen and (max-width: $mobile-breakpoint) {
            margin-top: 16px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            row-gap: 20px;
            column-gap: unset;
        }
    }
}